.userSection{
    width: 350px;
    margin: 0 auto;
    padding: 25px;
}
.userSection input{
    padding: 15px;
    margin: 10px;
    width: 250px;
}
.userSection button{
    background-color: brown;
    color:white;
    font-size: 15px;
    padding: 15px;
    width: 295px;
   
}